body {
  background-size: 75px 75px;
  background-image:
    linear-gradient(to bottom, black 1px, transparent 2px),
    linear-gradient(to right, black 1px, white 2px);
  animation-name: background-animation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/** Citation for CSS animations: https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
@keyframes background-animation {
  from {
    background-position: 0px 500px;
  }

  to {
    background-position: 500px 0px;
  }
}


#main-menu {
  display: none;
}

#title {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1000px;
  height: 300px;
  margin: auto;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;

}


#title h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 375;
  font-size: 85px;
  line-height: 103px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

button {
  background-color: #FAFAFA;
  color: black;
  width: 350px;
  height: 75px;
  margin: 30px 50px 0px 50px;
  font-s
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
  border: 6px solid #b6b6b6;
}

button:active {
  transition: 0s;
  background-color: #d9d8d9;
}


#calculation-button {
  background-color: #F7D2E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#color-matching-button {
  background-color: #ADF0FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#counting-button {
  background-color: #FFC2AE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#calculation-button:hover {
  border: 6px solid #EABFE0;
}

#color-matching-button:hover {
  border: 6px solid #68DBFF;
}

#counting-button:hover {
  border: 6px solid #FFA979;
}

#calculation-button:active {
  background-color: #EABFE0;
}

#color-matching-button:active {
  background-color: #68DBFF;
}

#counting-button:active {
  background-color: #FFA979;
}

#calculations-title {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1000px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: #F7D2E3;
  border: 8px solid #EABFE0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#calculations-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculations-title h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  margin-bottom: 5px;
  margin-top: 15px;
}

#calculations-title h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  margin-top: 2.5px;
}

.start {
  background-color: #10FF36;
}

.start:hover {
  border: 6px solid rgb(1, 200, 1);
}

.start:active {
  background-color: rgb(1, 200, 1);
}


#calculations-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

