body {
  background-size: 75px 75px;
  background-image:
    linear-gradient(to bottom, black 1px, transparent 2px),
    linear-gradient(to right, black 1px, white 2px);
  animation-name: background-animation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/** Citation for CSS animations: https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
@keyframes background-animation {
  from {
    background-position: 0px 500px;
  }

  to {
    background-position: 500px 0px;
  }
}

.flex {
  display: flex;
}

#title {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1000px;
  height: 300px;
  margin: auto;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;

}

#title h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 375;
  font-size: 85px;
  line-height: 103px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

button {
  background-color: #FAFAFA;
  color: black;
  width: 350px;
  height: 75px;
  margin: 30px 50px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  border: 6px solid #b6b6b6;
}

button:active {
  transition: 0s;
  background-color: #b6b6b6;
}

#calculation-button {
  background-color: #F7D2E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#color-matching-button {
  background-color: #ADF0FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#counting-button {
  background-color: #FFC2AE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#calculation-button:hover {
  border: 6px solid #EABFE0;
}

#color-matching-button:hover {
  border: 6px solid #68DBFF;
}

#counting-button:hover {
  border: 6px solid #FFA979;
}

#calculation-button:active {
  background-color: #EABFE0;
}

#color-matching-button:active {
  background-color: #68DBFF;
}

#counting-button:active {
  background-color: #FFA979;
}

#calculations-title {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1000px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: #F7D2E3;
  border: 8px solid #EABFE0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculations-title h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  margin-bottom: 5px;
  margin-top: 15px;
}

#calculations-title h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  margin-top: 2.5px;
}

.start {
  background-color: #10FF36;
}

.start:hover {
  border: 6px solid rgb(1, 200, 1);
}

.start:active {
  background-color: rgb(1, 200, 1);
}

#calculations-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#calculations-rules, #amount-error, #missing-error, #results, #max-number-error {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px 10px 20px 10px;
  font-family: 'Inter';
  font-style: normal;
}

#amount-error, #missing-error, #max-number-error {
  align-items: center;
  justify-content: center;
  font-size: 26pt;
  text-align: center;
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7.8%;
  padding-bottom: 7.8%;
}

#calculations-rules h2 {
  text-align: center;
  font-size: 26pt;
  padding-top: 25px;
  margin-bottom: 10px;
}

#calculations-rules div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18pt;

}

#calculations-rules p {
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;

}

#calculations-rules label {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-right: 20px;
}

#calculations-rules input {
  width: 10%;
  height: 30px;
  font-size: 16pt;
}

.back-button {
  position: absolute;
  width: 0;
  height: 0;
  left: 16%;
  top: 10%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right:75px solid rgb(84, 84, 85);
  opacity: 75%;
  border-radius: 15%;
}

.selected {
  border: solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

p {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#questions, #user-section, #user-section-counting, #questions-counting{
  width: 700px;
  height: 900px;
  background-color: white;
  border-style: solid;
  border-color: #000000;
}

#user-section, #user-section-counting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculations-game {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#questions {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  overflow: hidden;
}

#questions div {
  position: relative;
  /* bottom: 15%; */

  font-size: 36pt;
  transition: 0.5s;
}

#questions h4 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  letter-spacing: 4px;
}

#can {
  border: 2px solid;
  cursor: url(img/pencil.png) 5 0, crosshair;
}

#type-input {
  font-size: 100pt;
  text-align: center;
  width: 450px;
  height: 500px;
}

#start-space-0, #start-space-1, #start-space-2, #start-space-removed-transition {
  transition: 0.5s;
}

#start-space-0 {
  margin-bottom: 45%;
}

#start-space-1 {
  margin-bottom: 25%;
}

#start-space-2 {
  margin-bottom: 5%;
}

#start-space-removed-transition {
  margin-bottom: -14.5%;
}

#current-question {
  border: solid;
}

.equation {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
}

#user-section div {
  display: flex;
  justify-content: space-evenly;
}

#display-area {
  margin-right: 10px;
}

.checkmark {
  position: absolute;
  margin-left: 25%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 10px 10px 10px 10px;
  width: 125px;
  height: auto;
  opacity: 75%;
}

#user-section div div, #score, #user-section div span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 375;
  font-size: 14pt;
}

#score {
  padding-left: 5px;
}

#display-area {
  letter-spacing: 2.5px;
  padding-left: 5px;
  font-weight: 375;
  font-size: 15pt;
}

.x-mark {
  position: absolute;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 10px 10px 10px 10px;
  width: 100px;
  height: auto;
  opacity: 75%;
}

#results {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24pt;
}

#stats {
  display: flex;
  text-align: center;
}

#stats div {
  padding: 50px 100px 100px 100px;
}

#results div span {
  padding: 10px;
}

#results h3 {
  text-align: center;
  font-size: 38pt;
}

#results-rules {
  display: flex;
  flex-direction: row;
}

#stats span {
  display: table;
  margin: 0 auto;
}

#results-rules div {
  border-style: solid;
  padding: 10px;
  text-align: center;
  font-size: 16pt;
}

#results {
  padding-bottom: 75px;
}

.hidden {
  display: none;
}

.spin {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform:rotate(360deg);}
}

.grow {
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes grow {
  from {transform: scale(1);}
  to {transform: scale(1.5);}
}

.move {
  position: relative;
  font-size: 26pt;
}