body {
  background-size: 75px 75px;
  background-image:
    linear-gradient(to bottom, black 1px, transparent 2px),
    linear-gradient(to right, black 1px, white 2px);
  animation-name: background-animation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/** Citation for CSS animations: https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
@keyframes background-animation {
  from {
    background-position: 0px 500px;
  }

  to {
    background-position: 500px 0px;
  }
}

.flex {
  display: flex;
}

#title {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1000px;
  height: 300px;
  margin: auto;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;

}

#title h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 375;
  font-size: 85px;
  line-height: 103px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}

button {
  background-color: #FAFAFA;
  color: black;
  width: 350px;
  height: 75px;
  margin: 30px 50px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  border: 6px solid #b6b6b6;
}

button:active {
  transition: 0s;
  background-color: #b6b6b6;
}

#calculation-button {
  background-color: #F7D2E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#housing-button {
  background-color: #ADF0FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#counting-button {
  background-color: #FFC2AE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#calculation-button:hover {
  border: 6px solid #EABFE0;
}

#housing-button:hover {
  border: 6px solid #68DBFF;
}

#counting-button:hover {
  border: 6px solid #FFA979;
}

#calculation-button:active {
  background-color: #EABFE0;
}

#housing-button:active {
  background-color: #68DBFF;
}

#counting-button:active {
  background-color: #FFA979;
}

#calculations-title, #counting-title, #housing-title {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1000px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: #F7D2E3;
  border: 8px solid #EABFE0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculations-title h1, #counting-title h1, #housing-title h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  margin-bottom: 5px;
  margin-top: 15px;
}

#calculations-title h2, #counting-title h2, #housing-title h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  margin-top: 2.5px;
}

#counting-title {
  background: #FFC2AE;
  border: 8px solid #FFA979;
}

#housing-title {
  background: #ADF0FF;
  border: 8px solid #68DBFF;

}

.start {
  background-color: #10FF36;
}

.start:hover {
  border: 6px solid rgb(1, 200, 1);
}

.start:active {
  background-color: rgb(1, 200, 1);
}

#calculations-buttons, #counting-buttons, #housing-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#calculations-rules, #amount-error, #missing-error, #results, #max-number-error,
#counting-rules, #round-number-error, #counting-missing-error, #counting-results,
#housing-rules, #housing-results, #housing-missing-error, #housing-round-number-error {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px 10px 20px 10px;
  font-family: 'Inter';
  font-style: normal;
}

#amount-error, #missing-error, #max-number-error, #round-number-error, #counting-missing-error,
#housing-missing-error, #housing-round-number-error {
  align-items: center;
  justify-content: center;
  font-size: 26pt;
  text-align: center;
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7.8%;
  padding-bottom: 7.8%;
}

#calculations-rules h2, #counting-rules h2, #housing-rules h2 {
  text-align: center;
  font-size: 26pt;
  padding-top: 25px;
  margin-bottom: 10px;
}

#calculations-rules div, #counting-rules div, #housing-rules div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18pt;

}

#calculations-rules p, #counting-rules div, #housing-rules div {
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

#calculations-rules label, #counting-rules label, #housing-rules label {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-right: 20px;
}

#calculations-rules input, #counting-rules input, #housing-rules input {
  width: 10%;
  height: 30px;
  font-size: 16pt;
}

.back-button {
  position: absolute;
  width: 0;
  height: 0;
  left: 16%;
  top: 10%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right:75px solid rgb(84, 84, 85);
  opacity: 75%;
  border-radius: 15%;
}

.selected {
  border: solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

p {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#questions, #user-section, #user-section-counting, #questions-counting, #user-section-housing, #questions-housing {
  width: 700px;
  height: 900px;
  background-color: white;
  border-style: solid;
  border-color: #000000;
}

#questions-housing {
  overflow: hidden;
}

#user-section, #user-section-counting, #user-section-housing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculations-game, #counting-game, #housing-game {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#questions {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Inter';
  font-style: normal;
  overflow: hidden;
}

#questions div {
  position: relative;
  /* bottom: 15%; */

  font-size: 36pt;
  transition: 0.5s;
}

#questions h4 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  letter-spacing: 4px;
}

#can {
  border: 2px solid;
  cursor: url(img/pencil.png) 5 0, crosshair;
}

#type-input {
  font-size: 100pt;
  text-align: center;
  width: 450px;
  height: 500px;
}

#start-space-0, #start-space-1, #start-space-2, #start-space-removed-transition {
  transition: 0.5s;
}

#start-space-0 {
  margin-bottom: 45%;
}

#start-space-1 {
  margin-bottom: 25%;
}

#start-space-2 {
  margin-bottom: 5%;
}

#start-space-removed-transition {
  margin-bottom: -14.5%;
}

#current-question {
  border: solid;
}

.equation {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
}

#user-section div, #user-section-counting div, #user-section-housing div {
  display: flex;
  justify-content: space-evenly;
}

#display-area, #counting-display-area, #housing-display-area {
  margin-right: 10px;
}

.checkmark {
  position: absolute;
  margin-left: 25%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 10px 10px 10px 10px;
  width: 125px;
  height: auto;
  opacity: 75%;
}

#user-section div div, #score, #housing-score, #counting-score, #user-section div span, #user-section-counting div div, #user-section-counting div span,  #user-section-housing div div, #user-section-housing div span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 375;
  font-size: 14pt;
}

#score {
  padding-left: 5px;
}

#display-area, #counting-display-area, #housing-display-area {
  letter-spacing: 2.5px;
  padding-left: 5px;
  font-weight: 375;
  font-size: 15pt;
}

.x-mark {
  position: absolute;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 10px 10px 10px 10px;
  width: 100px;
  height: auto;
  opacity: 75%;
}

#results, #counting-results, #housing-results {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24pt;
  padding-bottom: 75px;

}

#stats, #counting-stats, #housing-stats {
  display: flex;
  text-align: center;
}

#stats div, #counting-stats div, #housing-stats div {
  padding: 50px 100px 100px 100px;
}

#results div span, #counting-results div span, #housing-results div span {
  padding: 10px;
}

#results h3, #counting-results h3, #housing-results h3 {
  text-align: center;
  font-size: 38pt;
}

#results-rules, #counting-results-rules, #housing-results-rules {
  display: flex;
  flex-direction: row;
}

#stats span, #counting-stats span, #housing-stats span {
  display: table;
  margin: 0 auto;
}

#results-rules div, #counting-results-rules div, #housing-results-rules div {
  border-style: solid;
  padding: 10px;
  text-align: center;
  font-size: 16pt;
}

.hidden {
  display: none;
}

.spinning {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform:rotate(360deg);}
}

.growing {
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes grow {
  from {transform: scale(1);}
  to {transform: scale(1.5);}
}

#questions-counting, #questions-housing {
  position: relative;
}

.moving {
  position: absolute;
}

#questions-counting p, #questions-housing p {
  position: absolute;
  font-size: 26pt;
}

#question-prompt-housing {
  z-index: 1;
}

#question-prompt span p, #question-prompt-housing span p {
  position: relative;
}

#question-prompt, #question-prompt-housing {
  text-align: center;
  border-bottom: solid black;
  width: auto;
  height: auto;
  background-color: white;
}

#question-prompt h2, #question-prompt p, #question-prompt-housing h2, #question-prompt-housing p {
  font-size: 24pt;
}

#user-answer, #user-answer-housing {
  border-style: solid;
  border-color:#000000;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  margin-left: 1%;
}

.house {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 10%;
}

.top-to-down {
  animation: down-to-top;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.down-to-top {
  animation: down-to-top;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.left-to-house {
  animation: left-to-house;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.house-to-right {
  animation: left-to-house;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.house-to-top {
  animation: left-to-house;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* house */
@keyframes top-to-down {
  0% {top: -100%;}
  100% {top: 20%}
}

@keyframes down-to-top {
  0% {top: 20%;}
  100% {top: -100%}
}

@keyframes left-to-house {
  0% {left: -100%;}
  100% {left: 35%;}
}

/* people */
@keyframes house-to-right {
  0% {left: 50%;}
  100% {
    left: 150%;
    width: 0%;
  }
}

@keyframes house-to-top {
  0% {
    top: 57%;
    left: 32%;
  }
  100% {
    top: -100%;
    left: 32%;
  }
}

.people {
  position: absolute;
  top: 57%;
  left: 35%;
  width: 100%;
}

.person {
  /* animation: house-to-right;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1; */
  /* position: relative; */
  /* top: 57%;
  left: 50%; 32% chimmy */
  width: 10%;
  margin-right: 5px;
}